*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: rgba(147, 150, 157, 0.407);

}
header{
 background-color: black;
 color: white;
 text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-family:Arial, Helvetica, sans-serif
}
header, p{
    padding-bottom: 50px;
}

    

a{
    
    color: white;
    text-decoration: none;
    font-weight: bolder
}
 
header > a,:hover footer a:hover  {
text-decoration: underline;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.image > p{
    background-color: rgb(105, 101, 101);
    width: 300px;
}

section.image {
    background-color: rgb(130, 126, 123);
    color: white

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
